.titulo {
    color: red;
    padding-left: 300px;
        
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around   ;
}
.pog {
    border: 1px solid blue;
    text-decoration: none;
}
body {
    background-color: aquamarine;
} #imundo {
    height: 500px; width: 900px;
    padding-left: 200px; padding-top: 10px;
} .imundo {
    padding-bottom: 100px;
}